
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    text-align: center;
}


.center-img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}


nav {
    background-color: #f8f8f8;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

nav ul {
    margin: 0px;
    padding-inline-start: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    font-size: 18px;
    margin: 10px 30px 0 30px;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

nav ul li a:hover {
    color: inherit;
    cursor: default;
}



.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #4A0C6B;
    font-size: 2em;
    margin-bottom: 20px;
}

h2, h3 {
    color: #4A0C6B;
}


.order-summary {
    background-color: #F5F5F5;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}


.order-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.order-table th, .order-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.order-table th {
    background-color: #4A0C6B;
    color: #fff;
}


.no-orders {
    font-size: 1.2em;
    color: #666;
}
.email-display{
    color: #000000;
}
.header-email {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 1rem;
    color: #333;
}
.left {
    margin-left: auto;
}
