body {
    margin: 0px;
}
header {
        background: #4A2574;
        width: 100%;
        object-fit: cover;
}
.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}