<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Frontpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/StyleRegister.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../public/css/stylebanner.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body>
<header>
    <img src="../public/images/cupcakebillede.png"  th:src="@{../public/images/cupcakebillede.png}">
</header>

<div id="page-container">
    <div id="page-content">

        <h1>Velkommen</h1>

        <div class="register-box">
            <form id="registerForm">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required placeholder="Indtast din e-mail">
                <br>
                <br>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required placeholder="Indtast dit kodeord">

                <button type="button" onclick="login()">Login</button>
            </form>
        </div>
<br>
        <a href="register.html">Create account</a>
    </div>
</div>


</body>
</html>

