<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opret Bruger</title>
    <link href="../public/css/StyleRegister.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../public/css/styleBanner.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <img alt="header" class="center-img" src="../public/images/cupcakebillede.png"
         th:src="@{/images/cupcakebillede.png}">
</header>
<div id="page-container">
    <div id="page-content">

        <h1>Velkommen</h1>
        <p>Indtast venligst brugerinfo:</p>

        <div class="centered-form">

            <form method="post">
                <input type="email" name="email" placeholder="email"/><br/><br>
                <input type="password" name="password1" placeholder="password"/><br/><br>
                <input type="password" name="password2" placeholder="gentag password"/><br/><br>
                <button type="submit" formaction="/register ">Opret bruger</button>
                <p class="errormessage" th:text="${#ctx.message}"></p>
            </form>
        </div>
        <a href="/">Hop til forsiden</a>
    </div>
</div>
</body>
</html>