<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styleShopping.css" th:href="@{/css/styleShopping.css}" rel="stylesheet"/>
    <link href="../public/css/styleBanner.css" th:href="@{/css/styleBanner.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <img alt="header" class="center-img" src="../public/images/cupcakebillede.png" th:src="@{/images/cupcakebillede.png}">
</header>

<div class="header-email">

</div>

<nav>
    <ul>
        <li><a href="/orders">Order</a></li>
        <li th:text="${userEmail}" class="email-display">user@example.com</li>
        <li class="left">
            <a href="/cart" class="cart-button">
                <img alt="cart_logo" class="cart-logo" src="../public/images/bag.png" th:src="@{/images/bag.png}" width="20" height="20">
            </a>
        </li>
        <li><a href="/" method="post" class="logout">Logout</a></li>
    </ul>
</nav>

<div class="main-container">
    <h1>Velkommen ombord</h1>
    <h2>Øens bedste cupcakes. Vælg og bestil her:</h2>

    <div class="form-container">
        <form th:action="@{/shopping}" method="post">
            <div>
                <label for="base">Vælg bund</label>
                <br>
                <select name="base_id" id="base">
                    <option value="" disabled selected>Vælg bund</option>
                    <option th:each="base : ${bases}" th:value="${base.baseId}" th:text="${base.baseFlavor}"></option>
                </select>
            </div>

            <div>
                <label for="topping">Vælg topping</label>
                <br>
                <select name="topping_id" id="topping">
                    <option value="" disabled selected>Vælg topping</option>
                    <option th:each="topping : ${toppings}" th:value="${topping.toppingId}" th:text="${topping.toppingFlavor}"></option>
                </select>
            </div>

            <div>
                <label for="amount">Vælg antal</label>
                <br>
                <select name="quantity" id="amount">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>

            <div>
                <input type="submit" value="Læg i kurv">
            </div>
        </form>
    </div>
</div>
</body>
</html>
